<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="book2" href="/tabs/book2">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Books</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user" href="/tabs/user">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="my-profile" href="/tabs/my-profile">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>My Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
