.curve {
    height: 100%;
    background-color: rgb(119, 119, 213);
    border-bottom-right-radius: 20rem;
    position: fixed;
    width: 110vw;
    top: -65%;
    left: -3%;
    content: " ";
}
.books-list {
    margin-top: 10rem;
}